@font-face {
    font-family: 'gotmilk?';
    src: url('/Phenix\ American\ Regular.ttf') format('truetype');
}
body{
    width: 100dvw;
    height: 100dvh;
}

* {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

h2, h3, h4, h5, h6, a, li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-family: 'gotmilk?', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}