.container {
    display: grid;
    grid: auto auto auto / auto auto auto;
}

header {
    border: navy solid 2px;
    grid-row: 1;
    grid-column: 1 / span 3;
    height: 15vh;
    display: grid;
    grid: auto / 25vw;
}

header > h1 {
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    border: navy solid 1px;
    text-align: center;
    line-height: 15vh;
}

header > h5 {
    grid-row: 1 / span 2;
    grid-column: 1;
    border: navy solid 1px;
    text-align: left;
}

header > a {
    grid-row: 1 / span 2;
    grid-column: 4;
    width: 3.5rem;
    height: 2rem;
    background-color: red;
    text-align: center;
    line-height: 1.75rem;
    text-decoration: none;
    border-radius: 15%;
    box-shadow: gray 2px 2px;
    margin: auto;
}
.container > #currentQueue {
    grid-row: 2;
    grid-column: 2;
}

.container > #storyQueue {
    border: green solid 2px;
    grid-row: 2 / span 2;
    grid-column: 1;
    height: 80vh;
    box-shadow: gray 5px 0px;
}

.container > #estimations {
    border: red solid 2px;
    grid-row: 2 / span 2;
    grid-column: 3;
    height: 80vh;
    box-shadow: gray -5px 0px;
}