li {
    padding: 15px;
    background-color: rgba(211, 211, 211, 0.211);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 128, 0.25) 2px 2px 5px;
}

.container {
    display: grid;
    grid: auto auto auto / auto auto auto;
}

header {
    grid-row: 1;
    grid-column: 1 / span 3;
    height: 15vh;
    display: grid;
    grid: auto / 25vw;
    box-shadow: inset rgba(0, 0, 128, 0.25) 0px -7px 25px;
}

header > h1 {
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    text-align: center;
    line-height: 15vh;
    font-size: 4rem;
}

header > h5 {
    padding: 25px;
    grid-row: 1 / span 2;
    grid-column: 1;
    text-align: left;
}

header > a {
    grid-row: 1 / span 2;
    grid-column: 4;
    font-size: 1.5rem;
    width: 5rem;
    height: 2.5rem;
    background-color: red;
    text-align: center;
    line-height: 2.25rem;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 128, 0.25) 2px 2px 10px;
    margin: auto;
    color: black;
    margin-right: 40px;
    font-style: oblique;
}
.container > #currentQueue {
    grid-row: 2;
    grid-column: 2;
    width: 66vw;
    display: grid;
    grid: auto / auto;
    box-shadow:inset rgba(0, 0, 128, 0.25) 0px 0px 10px;
    height: 85vh;
}

section > div {
    display: grid;
    grid: auto / auto;
    width: 100%;
    height: 60px;
    padding-bottom: 10px;
    border-bottom: 1px navy solid;
}

#currentQueue > div > h3 {
    grid-column: 1;
    font-weight: 300;
    line-height: 40px;
    padding: 0px 20px;
    margin-left: 20vw;
    margin-top: 10px;
}

#currentQueue > div > h5 {
    grid-column: 2;
    font-size: 1.2rem;
    width: 11rem;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.211);
    border-radius: 10px;
    margin-top: 10px;
    height: 1.5rem;
    margin-right: 20vw;
    box-shadow: rgba(0, 0, 128, 0.25) 2px 2px 5px;

}

#currentQueue > ul {
    list-style-type: none;
    padding-left: 0px;
    grid-row: 3;
    grid-column: 1;
    display: flexbox;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 250px; /*Remove to add table*/
}

#currentQueue > ul > li {
    width: 25px;
    display: inline-block;
    padding: 15px 7px;
    margin: 5px;
}

#currentQueue > h4 {
    grid-row: 2;
    width: 40px;
    padding: 40px 20px;
    background-color: rgba(211, 211, 211, 0.211);
    text-align: center;
    margin: auto;
    border-radius: 10px;
}

.container > #storyQueue {
    grid-row: 2 / span 2;
    grid-column: 1;
    height: 85vh;
    box-shadow:inset rgba(0, 0, 128, 0.25) 5px 0px 10px;
    width: 17vw;
}

h2 {
    text-align: center;
    padding: 10px 0px;
    font-size: 1.75rem;
    border-bottom: 1px solid navy;
    color: navy;
}

#storyQueue > h6 {
    font-size: 1rem;
    padding-left: 40px;
    margin: 10px 0px;
}

#storyQueue > ol {
    width: 17vw;
    list-style-type: none;
    display: grid;
    grid: auto / auto;
}

#storyQueue > ol > li {
    font-size: 1.2rem;
    width: 8rem;
    margin: 0px;
    margin-bottom: 20px; 

}

#storyQueue li:nth-of-type(2) {
    padding: 0px 7px;
    background-color: antiquewhite;
    margin: 0px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 0px;
    text-align: center;
    height: 0px !important;
    border-bottom: 2px black dashed;
    box-shadow: none;
}

.container > #estimations {
    grid-row: 2 / span 2;
    grid-column: 3;
    height: 85vh;
    box-shadow:inset rgba(0, 0, 128, 0.25) -5px 0px 10px;
    width: 17vw;
}

#estimations > ul {
    list-style-type: none;
    padding-left: 20px;
}

#estimations > ul > li {
    display: inline-block;
    width: 3rem;
}

#storyQueue > ol > li:hover {
    letter-spacing: 1px;
}

header > a:hover, #currentQueue > ul > li:hover {
    box-shadow: none;
}