body {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    margin: 0;
    text-align: center;
    background-color: lightgrey;
}
body > div {
    position: fixed;
    top: 25px
}
header {
    position: fixed;
    top: 25px
}
h1 {
    margin-bottom: 40px; 
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 200px;
    height: 40px;
}

.container {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;  
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 250px;
    border: 1px solid black;
    border-radius: 25px;
}

button {
    margin-top: 15px;
    padding: 8px 15px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    background-color: #706d6d;
    border-radius: 6px;
}

footer {
    margin-top: auto;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}
